<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ0nMf-xNY4zWDDeDNTd9z-LWgy0hCb7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>18534472639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.life</string>
	<key>PROJECT_ID</key>
	<string>lifeunderwater-f982b</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeunderwater-f982b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18534472639:ios:b3505c24c2550d47605f0a</string>
</dict>
</plist>